{% extends "main.html" %}
{%block title%}Hello title{%endblock title%}

{%block profile%}
{% load static %}
<table>
    <tr>
      <td rowspan=9><img src="{{ avartar.url }}"></td>
      <td colspan=2><span>{{fullname}}</span></td>
    </tr>
    <tr>
      <th>Giới tính</th>
      <th>{{gender}}</th>
    </tr>
    <tr>
      <th>Sdt</th>
      <th>{{mobile}}</th>
    </tr>
    <tr>
      <th>Email</th>
      <th>{{email}}</th>
    </tr>
    <tr>
      <th>Địa chỉ</th>
      <th>{{address}}</th>
    </tr>
  </table>
{%endblock profile%}

{%block objective%}
<h4>{{objective}}</h4>
{%endblock objective%}

{%block education%}
<h2 class="education_title">HỌC TẬP</h2>
<div class="education_table">
{% for i in educationlist%}
    <div class="row">
        <div class="education_time">
            <span class=education_start>{{i.education_start}}</span>
             - 
            <span class="education_end">{{i.education_start}}</span>
        </div>
        <div class="education_school">
            <span class="school">{{i.school}}</span>
            <span class="maijor">{{i.major}}</span>
        </div>
    </div>
{%endfor%}
</div>
{%endblock education%}