<html>
    <head>
        <title>
            {%block title%}Page title{%endblock title%}
        </title>
    </head>
    <body>
        <div id="cv-profile" class="cv-block">{%block profile%}Profile content{%endblock profile%}</div>
        <hr>
        <h2>MỤC TIÊU NGHỀ NGHIỆP</h2>
        <div id="cv-objective" class="cv-block">{%block objective%}Objective content{%endblock objective%}</div>
        <hr>
        <div id="cv-education" class="cv-block">{%block education%}Education content{%endblock education%}</div>
        <hr>
        <div id="cv-experience" class="cv-block">{%block experience%}Oxperience content{%endblock experience%}</div>
        <hr>
        <div id="cv-additional" class="cv-block">{%block additional%}Additional content{%endblock additional%}</div>
        <hr>
        <div id="cv-cactivity" class="cv-block">{%block activity%}Cactivity content{%endblock activity%}</div>
        <hr>
        <div id="cv-certification" class="cv-block">{%block certification%}Certification content{%endblock certification%}</div>
        <hr>
        
    </body>
</html>